@import "style.css";
.carrito{
    background-color: var(--color-grisClaro);
}
.carrito .encabezado li{
    padding: 10px;
    color: black;
}
.carrito .detalle{
align-items: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.carrito .detalle .producto img{
    width: 20%;
    padding: 10px;
    margin-right: 45px;
}
.carrito .li {
    padding: 10px;
    margin-bottom: 100px;
}
span{
    color: black;
}
.total{
    background-color: var(--color-grisClaro);
    float: right;
    padding: 0;
    margin-right: 190px;
}
.carrito .unidad{
    display: none;
}
@media(min-width:992px){
    .carrito .unidad{
      display: inline-flex;
    }
  }