@import "style.css";

.principal{
    padding: 0px;
    overflow: hidden;
}
.productos{
    background-color: var(--color-grisClaro);
}
.contenido{
  align-items: center;
    margin-bottom: 5px;
    border-radius: 10%;
  }
  .contenido img{
    width: 60%;
    height: 80%;
    border-radius: 10%;
  }
  .contenido a {
    text-decoration: none;
    color: black
  }
  a:hover{
    color: var(--color-naranja-claro);
    text-decoration: none;
  }
  .contenido .titulo{
    align-content: center;
  }
  p{
    color: var(--color-violeta);
    
  }
  
  @media(min-width:1068px){
    p{
    font-size:1.3rem;
    }
}