@import "style.css";

.principales{
  margin-top: 25px;
}
.productos{
  background-color:var(--color-grisClaro);
}
.productos img{
    width: 100%;
}
p, .productos span{
  color: var(--color-violeta);
  font-size: 18px;
  text-align: left;
}
.productos h2, .productos h3, .productos h4 {
    margin-top: 30px;
    color: var(--color-negro);
    text-align: left;
}
.productos .contenido {
    padding: 15px;
}
.productos button {
    background-color: var(--color-violeta);
    border: 0;
    color: var(--color-blanco);
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    text-transform: uppercase;
    margin-top: 30px;
}
/*
.addProduct .categorias {
    padding: 40px 40px 20px 40px;
}

.addProduct .formulario {
    padding: 20px 40px 40px 40px;
}
.addProduct textarea{
    resize: none;
} */
