@import "style.css";
/*-- HEADER --*/

header {
  background-color:black;
  padding:20px;
 
}
    header .logo img{ 
    width: 100%;
    height: 80%;
     }

header form{
  position: relative;
  display: flex;
  align-items: right;
  font-size: 0.8rem;

}

header form input{
  border: solid 1px var(--color-red);
display: block;
width: 100%;
padding: 7px 30px 7px 7px;
border-radius: 5px;
height: 40px;
}

header form button{
  position: absolute;
  right: 2px;
  height: 60%;
  background-color:violet;
  border: none;
  border-left: solid 1px var(--color-grisClaro);
  color: var(--color-grisOscuro);
  cursor: pointer;
}








  
   


    


   

     
  

 