
@import "style.css";


/*Color a las Redes sociales */
.fa-twitter:hover{
  color: lightskyblue;
}
.fa-facebook-square:hover{
  color:blue
}

.fa-youtube:hover{
  color: red;
}
.fa-instagram:hover{
  color: violet
}
.principal article h2{
  display: flex;
  align-items: center;
  text-align: center;
}
.banner img{
  width: 100%;
  height: 190x;

}
.contenido{
  justify-content: space-around

}
.contenido img{
  width: 90%;
}
.contenido a {
  text-decoration: none;
  color: black
}
a:hover{
  color: var(--color-naranja-claro);
  text-decoration: none;
}