
@import "style.css";


/*Color a las Redes sociales */
.fa-twitter:hover{
  color: lightskyblue;
}
.fa-facebook-square:hover{
  color:blue
}

.fa-youtube:hover{
  color: red;
}
.fa-instagram:hover{
  color: violet
}
.principal article h2{

  align-items: center;
  text-align: center;
}
.banner{
  width: 100%;
  display: none;
}
.contenido{
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10%;

}
.contenido img{
  width: 90%;
  border-radius: 10%;
}
.contenido a {
  text-decoration: none;
  color: black
}
a:hover{
  color: var(--color-naranja-claro);
  text-decoration: none;
}
.contenido .titulo{
  align-content: center;
}

@media (min-width:1300px){
  .banner{
    display: inline-flex;
  }
}