
@import "style.css";


/*Color a las Redes sociales */
.fa-twitter:hover{
  color: lightskyblue;
}
.fa-facebook-square:hover{
  color:blue
}

.fa-youtube:hover{
  color: red;
}
.fa-instagram:hover{
  color: violet
}
.principal{
  border: white 1px solid;
}

.principal article h2{
  display: flex;
  align-items: center;
  text-align: center;
}
.contenido img{
  width: 90%;
  
}