@import "style.css";


div .imagenes{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 20px;
}
div span #AuLetra{
    padding: 0px;

}
div input{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
}
div h5{
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
}
div label{
    width: 95%;
    margin-left: 14px;
}

div button #boton{
    width:60% ;
    justify-content: right;
}

