@import "style.css";


/* Datos del usuario Mobile */

.contenedor span img{
    width: 90%;
}
div span img{
    margin-bottom: 20px;
}

.perfil h5{
    width: 100%;
}
.perfil h5{
    margin-top: 15px;
    border: black solid 1px;
}

/* Editar datos del usuario Mobile */
.editar input{
    width:100%;
    margin-bottom: 10px;
 }
@media(max-width:768px){
    /* Datos del usuario Tablet */
    .contenedor span img{
        width:70%;
    }
    
}
@media(max-width:1024px){
    /* Datos del usuario Laptop */
    .contenedor span img{
        width: 100%;
    }
    .editar input{
        display: inline-block;
    }
 
}