@import "style.css";
/* MINI BARRA */
.main-nav{
    padding-left:11%;
}
.main-nav .algo{
    background-color: black;
    height: 60px;
    width: 87%;
    margin-top: 15px;
}
.main-nav li{
    text-align:center;
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    height: 40px;
    /* margin-left:5px;
    padding-right: 60px;  */
    border-right: white 1px solid;
    text-transform: uppercase;
}
.main-nav li:last-child{
    border: none;
    padding-right: 0px;
}

/* PRODUCTOS */
.principal .contenido{
    background-color:var(--color-grisClaro);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    height: 95%;
} 
.contenido img{
    width: 90%;
    height: 270px;
}
.principal .contenido .descuento{
    background-color: #b1ef44;
}
p{
    color: black;
    font-size: 20px;
}

/* --- AJUSTES TIENDA - VERSION PARA TABLET (768px) --- */
@media(max-width:1024px){
    .main-nav{
        padding-left:4%;
    }
    .main-nav .algo{
        width: 96%;
    }
    .main-nav li{
        margin-left:6px;
        padding-right:45px;
    }
}
@media(max-width:768px){
    /* MINI BARRA */
    .main-nav .algo{
        background-color: black;
        height: 50%;
        width: 90%;
        text-align: center;
    }
    .main-nav li{
        display: block;
        padding: 10px;
        border-right: none;
        border-bottom: white 1px solid;
    }
    .main-nav li:last-child{
        border: none;
    }
    
}
/* --- AJUSTES TIENDA - VERSION PARA MOVILES (768px) --- */

@media(max-width:375px){
    /* MINI BARRA */
    .main-nav .algo{
        width:100%;
    }
    .main-nav li{
        width:100%;
        padding-right: 70px;
        border-bottom: none;
    }
    .main-nav li:last-child{
        padding-right: 70px;
    }
}

