<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buenastintas - Carrito</title>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/">
  </head>
  <body>
    <%- include('partials/header') %> 
    <section>
      <div>
        <div>
          <li>Productos</li>
          <li>Precio U.</li>
          <li>Cantidad</li>
          <li>Total</li>
        </div>
      </div>
      <div>
        <div>
          <ol>
            <li>
              <img src="" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
          </ol>
        </div>
      </div>
    </section>
    
    <!--ACA VA EL FOOTER-->
    <%- include('partials/footer') %> 
  </body>
</html>
