  <%- include('partials/head') %> 
    <%- include('partials/header') %> 
    <section class="container carrito">
      <div class="">
        <div class="row encabezado">
          <li class="col-3">Productos</li>
          <li class="col-3 unidad">Precio U.</li>
          <li class="col-3">Cantidad</li>
          <li class="col-3">Total</li>
        </div>
      </div>
      <div>
        <div>
          <ol class="container detalle">
            <li class="row producto">
              <img src="/images/home/whiskies3.jpg" alt="Producto">
              <span class="col-3 unidad">$1.300</span>
              <span class="col-3">1 unidad</span>
              <span class="col-3">$1.300</span>
            </li>
            <li class="row producto">
              <img src="/images/home/cervezas.jpg" alt="Producto">
              <span class="col-3 unidad">$1.300</span>
              <span class="col-3">1 unidad</span>
              <span class="col-3">$1.300</span>
            </li>
            <li class="row producto">
              <img src="/images/home/brahma.jpg" alt="Producto">
              <span class="col-3 unidad">$1.300</span>
              <span class="col-3">1 unidad</span>
              <span class="col-3">$1.300</span>
            </li>
            <span class="total">3.900$</span>
          </ol>

        </div>
      </div>
    </section>
    
    <!--ACA VA EL FOOTER-->
    <%- include('partials/footer') %> 

