<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head') %> 

  <body>
    <%- include('partials/header') %> 
    <section>
      <div>
        <div>
          <li>Productos</li>
          <li>Precio U.</li>
          <li>Cantidad</li>
          <li>Total</li>
        </div>
      </div>
      <div>
        <div>
          <ol>
            <li>
              <img src="/images/home/vinos4.jpg" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="/images/home/whiskies3.jpg" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="/images/home/cervezas.jpg" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="/images/home/brahma.jpg" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
            <li>
              <img src="/images/home/espumantes.jpg" alt="Producto">
              <span>$1.300</span>
              <span>Cantidad</span>
              <span>Total</span>
            </li>
          </ol>
        </div>
      </div>
    </section>
    
    <!--ACA VA EL FOOTER-->
    <%- include('partials/footer') %> 
  </body>
</html>

