<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <div>
    <div class="row productos">
      <div >
        <div class="principal">
          <figure class="col-6 col-md-6 col-lg-6 contenido">
              <img src="/images/home/brahma.jpg" alt="">
          </figure>
          <article class="col-6 col-md-6 col-lg-6 contenido">
            <p>Nombre del producto</p>
            <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aspernatur labore error quam minus nihil tenetur numquam velit, adipisci perferendis voluptates necessitatibus ea ipsam quae ipsum nemo enim? Cum, est!</p>
            </article>
        </div>
    </div>
    
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
</body>
</html>
