<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <!-- Los productos (Bebidas) -->
  <div class="container">
    <section>
      <div class="row productos">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <img src="/images/home/vinos4.jpg" alt="">
            </figure>
            <article>
              <h2>Vinos</h2>
              <span>5% OFF</span>
            </article>
          </div>
    
          <div class="contenido">
            <figure>
              <img src="/images/home/whiskies3.jpg" alt="Producto">
            </figure>
            <article>
              <h2>Whiskies</h2>
              <span>5% OFF</span>
            </article>
          </div>
    
          <div class="contenido">
            <figure  >
              <img src="/images/home/cervezas.jpg" alt="Producto">
            </figure>
            <article>
              <h2>Cervezas</h2>
              <span>50% OFF</span>
            </article>
          </div>
    
          <!-- <div class="contenido">
            <figure >
              <img src="/images/home/aperitivos.jpg" alt="Producto">
            </figure>
            <article>
              <h2>Aperitivos</h2>
              <span>10% OFF</span>
            </article>
          </div> -->
    
          <div  class="contenido">
            <figure >
              <img src="/images/home/espumantes.jpg" alt="Producto">
            </figure>
            <article>
              <h2>Espumantes</h2>
              <span>10% OFF</span>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
</body>
</html>
