<!DOCTYPE html>
<html lang="es">
<head>
  <title></title>
  <%- include('partials/head') %> 
</head>
<body>
  <%- include('partials/header') %> 
  <!-- Los productos (Bebidas) -->
  <div>
    <div>
      <figure>
        <img src="" alt="Producto">
      </figure>
      <article>
        <h2>$150.970</h2>
        <p>Garibaldi</p>
      </article>
    </div>
  
    <div>
      <figure>
        <img src="" alt="Producto">
      </figure>
      <article>
        <h2>$150.970</h2>
        <span>10% OFF</span>
        <p>Jack Daniel's</p>
      </article>
    </div>
  
    <div>
      <figure>
        <img src="" alt="Producto">
      </figure>
      <article>
        <h2>$150.970</h2>
        <p>Licor</p>
      </article>
    </div>
  
    <div>
      <figure>
        <img src="" alt="Producto">
      </figure>
      <article>
        <h2>$150.970</h2>
        <span>10% OFF</span>
        <p>Corona</p>
      </article>
    </div>
  </div>
  
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
</body>
</html>
