<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <!--Banner-->
  <section class="banner">
    <a href="'/tienda'"><img src="/images/home/banner3.jpg" alt="banner" /></a>
  </section>
  <!-- Los productos (Bebidas) -->
  <section class="principal">
    <div class="container">
      <div class="productos">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 contenido">
            <figure>
              <a href="/tienda"><img src="/images/home/vinos3.jpg" alt=""></a>
            </figure>
            <article class="titulo">
              <a href="/tienda"><h2 >Vinos</h2></a>
            </article>
            <p>Conocé la mejor y más variada colección de vinos que tenemos para vos</p>
          </div>
          <div class="col-12 col-md-6 col-lg-3 contenido">
            <figure>
              <a href="/tienda"><img src="/images/home/whiskies6.jpg" alt="Producto"></a>
            </figure>
            <article class="titulo">
              <a href="/tienda"><h2>Whiskies</h2></a>
            </article>
            <p>Nuestra colección de whiskies premium te están esperando</p>
          </div>
          <div class="col-12 col-md-6 col-lg-3 contenido">
            <figure  >
              <a href="/tienda"><img src="/images/home/cervezas2.jpg" alt="Producto"></a>
            </figure>
            <article class="titulo">
              <a href="/tienda"><h2 >Cervezas</h2></a>
            </article>
            <p>Las mejores opciones de cervezas para compartir con amigos</p>
          </div>
        </div>
      </div>
          <!-- <div class="contenido">
            <figure >
              <img src="/images/home/aperitivos.jpg" alt="Producto">
            </figure>
            <article>
              <h2>Aperitivos</h2>
              <span>10% OFF</span>
            </article>
          </div> -->
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
</body>
</html>
