<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <div>
    <section >
      <ul>
        <li>
          <a href=" ">Vinos</a>
        </li>
        <li>
          <a href=" ">Espumantes</a>
        </li>
        <li>
          <a href="">Whiskies</a>
        </li>
        <li>
          <a href=" ">Aperitivos</a>
        </li>
        <li>
          <a href=" ">Cervezas</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- Productos de la tienda -->
  <div class="container">
    <div class="row productos">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/brahma.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/aperitivos.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/brahma.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/espumantes.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/brahma.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
  
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/cervezas.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>

        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/brahma.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/espumantes.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/brahma.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
    
        <div class="contenido">
          <figure>
            <a href="">
              <img src="/images/home/cervezas.jpg" alt="">
            </a>
          </figure>
          <article>
             <h3>$1.300</h3>
             <span>10% OFF</span>
             <p>Nombre del producto</p>
                              <!-- Buscar el icono de carrito -->
            <button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button>
          </article>
        </div>
      </div>
    </div>
  </div>

  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 

</body>
</html>