<footer class="container-fluid">
  <div class="row footer">
    <!--contiene pago con tarjeta-->
    <div class="col-12 col-lg-4">
      <article class="separador">
        <div>
          <form action="">
            <div class="mini-form" >
              <input type="text" id="barra" placeholder="Nombre:" required>
            </div>
            <div class="mini-form" >
              <input type="tel" id="barra" placeholder="Teléfono:" required>
            </div>
            <div class="mini-form" >
              <input type="email" id="barra" placeholder="Mail:" required>
            </div>
            <div>
                <button>Enviar</button>
            </div>
          </form>
        </div>
      </article>
    </div>
    <!--contiene envio gratis-->
    <div class="col-12 col-lg-4">
      <article class="separador">
        <div>
          <form action="">
            <div>
              <textarea name="" id="" placeholder="Déjanos tus comentarios aquí" cols="40" rows="5"></textarea>
            </div>
          </form>
        </div>
      </article>
    </div>
      <!--contiene seguridad-->
      <div class="col-12 col-lg-4">
        <article class="nuestroContacto">
          <div class="contacto">
            <ul>
              <li>Telefono</li>
              <li>Dirección</li>
              <li>Email</li>
              <li>Atencion al Cliente</li>
              <li class="redes-sociales">
                <i class="fab fa-facebook-square"></i>
                <i><i class="fab fa-instagram"></i></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </li>
            </ul>
          </div>
        </article>
    </div>
  </div>
</footer>


  <!-- scripts de bootstrap -->
  <script src="/css/js/´popper.js"></script>
  <script src="/css/js/jQuery.js"></script>
  <script src="/css/js/bootstrap.min.js"></script>

</body>
</html>