<footer class="container-fluid">
  <div class="separar">
      <div class="">
          <form action="">
              <div class="mini-form" >
                <input type="text" id="barra" placeholder="Nombre:" required>
              </div>
              <div class="mini-form" >
                <input type="tel" id="barra" placeholder="Teléfono:" required>
              </div>
              <div class="mini-form" >
                <input type="email" id="barra" placeholder="Mail:" required>
              </div>
              <div>
                  <button>Enviar</button>
              </div>
            </form>
      </div>
  </div>
  <div class="separar">
      <form action="">
          <div>
              <textarea name="comentarios" placeholder="Déjanos tus comentarios aquí" id="comentario" cols="50" rows="6" ></textarea>
          </div>
      </form>
  </div>
  <div class="nuestroContacto">
    <section class="contacto">
      <ul>
        <li><a href="">Telefono</a></li>
        <li><a href="">Dirección</a></li>
        <li><a href="">Mail</a></li>
        <li><a href="">Atencion al Cliente</a></li>
        <li class="redes-sociales">
          <a href=""><i class="fab fa-facebook-square"></i></a>
          <a href=""><i><i class="fab fa-instagram"></i></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </section>
  </div>
</footer>

  <!-- scripts de bootstrap -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "
  ></script>