<footer class="container-fluid">
  <div class="row footer">
    <!--contiene pago con tarjeta-->
    <div class="col-12 col-lg-4">
      <article class="separador">
        <div>
          <form action="">
            <div class="mini-form" >
              <input type="text" id="barra" placeholder="Nombre:" required>
            </div>
            <div class="mini-form" >
              <input type="tel" id="barra" placeholder="Teléfono:" required>
            </div>
            <div class="mini-form" >
              <input type="email" id="barra" placeholder="Mail:" required>
            </div>
            <div>
                <button>Enviar</button>
            </div>
          </form>
        </div>
      </article>
    </div>
    <!--contiene envio gratis-->
    <div class="col-12 col-lg-4">
      <article class="separador">
        <div>
          <form action="">
            <div>
              <textarea name="" id="" placeholder="Déjanos tus comentarios aquí" cols="40" rows="5"></textarea>
            </div>
          </form>
        </div>
      </article>
    </div>
      <!--contiene seguridad-->
      <div class="col-12 col-lg-4">
        <article class="nuestroContacto">
          <div class="contacto">
            <ul>
              <li>Telefono</li>
              <li>Dirección</li>
              <li>Email</li>
              <li>Atencion al Cliente</li>
              <li class="redes-sociales">
                <i class="fab fa-facebook-square"></i>
                <i><i class="fab fa-instagram"></i></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </li>
            </ul>
          </div>
        </article>
    </div>
  </div>
</footer>


  <!-- scripts de bootstrap -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "
  ></script>