<header class="container-fluid">
  <!--caja contenedora de boostrap-->
  <div class="container">
    <!--caja que contiene el logotipo, el buscador y botón con un link-->
    <div class="row">
      <!--caja que contiene el logotipo-->
      <div class="col-5 col-md-2  logo">
        <a href="/"
          ><img src="/images/logo/logo1.png" alt=" "
        /></a>
      </div>

      <!--caja que contiene el formulario-->
      <div class="col-7 col-md-6 ">
        <form action="/tienda/search" method="GET">
          <input
            type="text"
            name="search"
            placeholder="Buscar productos"
          />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <!--caja que contiene el link-->
      <div class="col-12 col-md-4 cuotas">
        <li><a href="/tienda/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
      </div>
      

      <!--finaliza el div.row-->
    </div>

    <!--barra de navegación-->
    <nav class="navbar-expand-md">
      <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
      <button
        class="navbar-toggler burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!--barra de menu que aparece a partir de la vesión de tablet-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--barra de menu izquierdo-->
        <ul class="menu navbar-nav mr-auto">
          <li>
             <li><a href="/">Home</a></li>
          </li>
          <li>
            <li><a href="/tienda">Tienda</a></li> 
          </li>
        </ul>

        <!--barra de menu: login y registro-->
        <ul class="usuario navbar-nav">

          <% if (typeof user != 'undefined') { %>
          <li>Hola <%- user.nombre %></li>
      
          <li>
              <a href="/users/logout">Cerrar sesión <i class="fas fa-sign-in-alt"></i></a>
          </li>
              <% if (user.categoría == 'administrador') { %>
              <li><a href="/admin">Administrar</a></li>
              <% } %>
          <% } else {%>
          <li><a href="/users/register">Registro</a></li>
          <li><a href="/users/login">Iniciar sesión</a></li>
          <% } %>
      </ul>
        </ul>
      </div>
      <!--finaliza caja contenedora del menu-->
    </nav>
  </div>
  <!--finaliza caja contenedora bootstrap-->
</header>