<header>
    <div class="conteiner">
        <div class="row">
            <nav class="logo">
                <a href="/"><img src="/images/logo/logo1.png" alt=""></a>
                <ul class="ingreso" id="">
                    <li><a href="/users">Iniciar sesión <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/users/register">registro <i class="far fa-address-card"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>