<header>
    <div class="conteiner">
        <div class="row">
          <!-- Logo -->
          <nav class="logo">
            <a href="/"><img src="/images/logo/logo1.png" alt=""></a>
          </nav>
          <!-- BUSCADOR -->
          <div>
            <form action="">
              <input type="text" name="search" placeholder="Buscar"/>
              <button type="submit"><i class="fas fa-search" > </i></button>
             </form>
          </div>
          <!-- barra de navegación -->
            <nav class="ingreso">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Iniciar sesión</a></li>
                <li><a href="/users/register">Registro</a></li>
                <li><a href="/tienda">Tienda</a></li>
                <li><a href="/tienda/carrito">Carrito</a></li>
                <li><a href="/admin">Agregar Producto</a></li>
                <!-- Link Redes sociales -->
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i><i class="fab fa-instagram"></i></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
              </ul>
            </nav>
        </div>
    </div>
  </header>