<header class="container-fluid">
    <div class="conteiner">
        <div class="">
            <nav class="">
                <nav class="navbar-expand-md">
                    <!-- logo -->
                    <nav class="logo">
                        <a href="/"><img src="/images/logo/logo1.png" alt=""></a>
                    </nav>
                    <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
                    <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" > <i class="fas fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul  class="menu navbar-nav mr-auto">
                            <li><a href="/users/login">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="/users/register">Registro <i class="far fa-address-card"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </div>
    </div>
</header>